<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rk Design Pro</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <style>
      #root>div{height: 100%;}
      .ant-layout.ant-layout-has-sider{height: 100%;}
      .ant-layout-sider{height: 100%; overflow-y: auto;}
      .ant-layout-content{height: calc(100% - 64px);margin-right: 0 !important;margin-top: 2px !important;margin-left: 0 !important; padding-top: 24px; padding-right: 24px;padding-bottom: 24px;padding-left: 24px;overflow: auto;}
      .ant-menu-dark, .ant-menu-dark .ant-menu-sub{color:#fff !important;}
      .ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a{color:#fff !important;}
  </style>
</head>

<body>
  <div id="root"></div>
</body>

</html>
